import("methods")
importFrom("graphics", "boxplot", "legend", "par", "plot", "points")
importFrom("stats", "as.formula", "cor", "lm", "na.omit", "quantile","var")
importFrom("raster", cellStats,raster,brick,nlayers,addLayer,sampleRandom,bbox,coordinates)
importFrom("terra", as.data.frame,as.matrix,cellFromXY,ext,geom,global,ncell,nlyr,plot,rast,res,spatSample,xmin,xmax,ymin,ymax,vect)
#importFrom("sp", bbox, coordinates)
exportClasses(speciesLISA, VIF,RasterVariogram)
exportMethods(exclude, lisa, speciesLisa, vif, vifcor, vifstep,Variogram)
exportPattern("^[[:alpha:]]+")
